body {
  font-family: 'Roboto', sans-serif;
}

div.banner {
  text-align: center;
  color: black;
  font-size: 2em;
  margin-bottom: 35px;
}

.main_centered {
  text-align: center;
  margin: 0 20%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div#flash_messages {
  color: #2980B9;
  list-style: none;
}


div#flash_messages li {
  color: #2980B9;
  list-style: none;
}

table.register_table {
  text-align: right;
}

div.buttons {
  color: #CCC;
}

a.add_review_btn {
  text-decoration: none;
  color: #AAA;
}
