{% extends "_base.html" %}
{% block content %}
  <div class="reviews_container">
    <h2>{{ show_name }}</h2>
      <center>
    <h2>Contributors</h2>
    {% if contributors|length == 0 %}
      <em>No contributors</em>
    {% else %}
      <table style="border-style:inset;padding: 20px; margin: 10px;">
        <tr>
          <th>Contributor</th>
          <th>Role</th>
        </tr>
        {% for contributor in contributors %}
          <tr>
            <td>{{ contributor['name'] }}</td>
            <td>{{ contributor['role'] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <h2>Reviews</h2>
  {% for review in reviews %}
    <div style="border-style:outset">
    <h3>Season {{ review['season'] }}, Ep. {{ review['episode_number']}}: {{ review['episode_name'] }}</h3>
    <p>{{ review['user_name'] }} @ {{ review['review_time']}}</p>
    <p>{{ review['text'] }}</p>
    <p>Rating: {{ review['rating']}}</p>
    </div>
  {% endfor %}
  </center>
  </div>


{% endblock %}
