{% extends "_base.html" %}
{% block content %}
<div class="buttons">
  <a href="{{ url_for('add_show_review') }}" class="add_review_btn"><span>Add a show review</span></a> |
  <a href="{{ url_for('add_episode_review') }}" class="add_review_btn"><span>Add an episode review</span></a>
</div>
<h2>Select a show or episode</h2>
  <div>
      <center>
      <table>
  {% for show in shows %}
    <tr><th><a href="{{ url_for('show_reviews', sid=show['sid'], show_name=show['name']) }}" class="show_ep_name"><h3>{{ show['name'] }}</h3></a></th></tr>
    {% for episode in sid_to_episodes[show.sid] %}
      <tr><td><a href="{{ url_for('episode_reviews' , eid=episode['eid'], sid=show['sid'], show_name = show['name']) }}" class="show_ep_name"><em>{{ episode['name'] }}</em></a></td></tr>
    {% endfor %}
  {% endfor %}
  </table>
      </center>
  </div>
{% endblock %}
