{% extends "_base.html" %}
{% block content %}
  <div class="reviews_container">
  <h2>{{ show_name }}</h2>
  <hr/>
  <h2>Contributors</h2>
  <center>
  {% if contributors|length == 0 %}
    <em>No contributors</em>
  {% else %}
    <table>
      <tr>
        <th>Contributor</th>
        <th>Role</th>
      </tr>
      {% for contributor in contributors %}
        <tr>
          <td>{{ contributor['name'] }}</td>
          <td>{{ contributor['role'] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <hr/>
  <h2>Reviews</h2>
  {% if reviews|length == 0 %}
    <em>No reviews yet</em>
  {% endif %}
  {% for review in reviews %}
    <div style="border-style:outset">
    <h3>{{ review['user_name'] }} @ {{ review['review_time'] }}</h3>
    <p>{{ review['text'] }}</p>
    <p>rating: {{ review['rating'] }}</p>
    <br><br>
    </div>
  {% endfor %}
  </center>
  </div>
{% endblock %}
